= form_for(@book) do |f|
  - if @book.errors.any?
    #error_explanation
      %h2
        = pluralize(@book.errors.count, "error")
        prohibited this book from being saved:
      %ul
        - @book.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br
      = f.text_field :name
  .field
    = f.label :author
    %br
      = f.text_field :author
  .field
    = f.label :description
    %br
      = f.text_area :description
  .field
    = f.label :note
    %br
    -@book.notes << Note.new if @book.notes.where(book_reader: current_book_reader).empty?
    =f.fields_for :notes do |fnote|
      = fnote.hidden_field :id
      = fnote.number_field :value
      =fnote.hidden_field :book_reader_id, value: current_book_reader.id
      = fnote.check_box :_destroy
      /*=fnote.select :book_reader_id, BookReader.all.map{|br| [br.email,br.id]}*/
  .field
    = f.label :cover
    %br
      = f.text_field :cover
  .field
    = f.label :nbreader
    %br
      = f.number_field :nbreader
  .actions
    = f.submit